.header {
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}

.header-link{
    display: flex;
    align-items: center;
}

.header a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
}

.header a:hover {
    color: orange;
}

.btn-logout {
    color: #FFFFFF;
    background-color: #1C2B35;
    padding: 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.btn-logout:hover{
    color: orange;
}